# [submodule "hugo/memo/lislroow.github.io"]
# 	path = hugo/memo/lislroow.github.io
# 	url = git@github.com:lislroow/lislroow.github.io.git
[submodule "developers/lislroow.github.io"]
	path = developers/lislroow.github.io
	url = git@github.com:lislroow/lislroow.github.io.git
